#form, #states-menu-container {
  display: inline-block;
  margin-right: 4em;
}

#header-home, #image-home {
  display: inline-block;
  vertical-align: top;
}

#header-home {
  width: 72%;
}

#image-home {
  margin: 10px;
  margin-top: 50px;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  width: 50%;
  box-sizing: border-box;
  padding: 0 20px;
}

#tables {
  display: flex;
}

#tables div {
  margin: 1rem;
  width: 50%;
}